.pageHeading {
    font-family: var(--font-kefa);
    font-size: 5vw;
    font-weight: 700;
    line-height: 127.19px;
    color: #293991;
}


.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.box {
    border: 3px solid #293991;
    padding-left: 10px;
    padding-bottom: 10px;
}

.image-box {
    border: 3px solid #293991;
    width: 32vmax;
    height: 32vmax;
}

.text-box-page {
    font-family: var(--font-inter);
    font-size: 2.8vw;
    font-weight: 800;
    line-height: 3vw;
    text-align: left;
    color: #293991;
}

.text-box-span-page {
    font-family: var(--font-inter);
    font-size: 2.8vw;
    font-weight: 800;
    line-height: 3vw;
    text-align: left;
    color: #A7B4FF;
}

.watch-button {
    border-radius: 45px;
    background: #293991D9;
}

.watch-button-text {
    font-family: var(--font-inter);
    font-size: 1.2vw;
    font-weight: 800;
    text-align: left;
    color: #FFFFFF;
}