.app-pageHeading {
    font-family: var(--font-lexend_duca);
    font-size: 3vw;
    font-weight: 800;
    color: #293991;
    margin-left: 3%;
    width: 40%;
}

.app-pageHeadingLine {
    margin-left: 3%;
    border: 3px solid #A7B4FF;
    width: 35%;
}

.app-pageInstruction {
    font-family: var(--font-khula);
    font-size: 2vw;
    font-weight: 800;
    color: #293991;
    margin-left: 3%;
    width: 40%;
}

.app-pageInstructionLine {
    margin-left: 3%;
    border: 3px solid #A7B4FF;
    width: 35%;
}

.app-pageCountDown {
    margin-top: 30px;
    width: 70%;
    height: 200px;
    background-color: #6C6C6C;
}

.app-countDownText {
    color: white;
    font-size: 1.5vw;
}

.app-arrowLeft {
    margin-left: 2%;
    margin-right: 2%;
}

.app-arrowRight {
    margin-left: 2%;
    margin-right: 2%;
}