.contact-text {
    font-family: Kadwa;
    font-size: 2vw;
    font-weight: 700;
    color: #293991;
}

.lines {
    border: 2px solid #A4BEFF
}

.footer-text {
    font-family: Inter;
    font-size: 1.5vw;
    font-weight: 800;
    line-height: 32.68px;
    text-align: center;
    color: #293991;
}